@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Source+Sans+Pro&display=swap');

/* Color Palate: #172A3A #598381 #8E936D #A2AD59 */
main{
    margin: 0 auto;
    max-width: 1700px;
}
nav{
    background-color: #172A3A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 125px;
    gap: 20px;
}
nav a{
    color: #A2AD59;
    font-size: 2.5em; 
    text-align: center;
    margin: 0 10px;
    font-family: 'Source Sans Pro';
    border-radius: 10px;
    height: 60px;
    margin-top: 25px;
    padding-top: 15px;
}
nav a:hover{
    color: #172A3A;
    background-color: #598381;
}
p a{
    color:#598381;
}
a{
    text-decoration: none;
}
#logo{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin: 10px;
    margin: auto;
    border: #A2AD59 solid 3px;
    padding-top: 0px;
    box-shadow: none;
}
.logo_link{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin: auto;
    margin-bottom: 15px; 
    padding-top: 0px;
}
.logo_link:hover{
    background-color: #172A3A;
}
h1{
    font-family: 'Delicious Handrawn';
    color: #598381;
    font-size: 6em;
    text-align: center;
}
p, li{
    color: #172A3A;
    font-family: 'Source Sans Pro';
    font-size: 2em;
}
.text_link{
    font-size: 1em;
}


.board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;
    padding-top: 100px;
}
.items{
    margin-bottom: 60px;
}
img{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    border: #172A3A solid 10px;
    box-sizing: border-box;
    box-shadow: 7px 7px 3px rgb(89, 89, 89);
}
.description{
    font-family: 'Delicious Handrawn';
    color: #598381;
    font-size: 4em;
}
